@using Microsoft.JSInterop
@using WebApplication.DTOs
@model WebApplication.Models.AddBlurayViewModel


@{
    ViewData["Title"] = "Add bluray Page";
}
<h1>Ajouter un Bluray</h1>
<hr/>
<form method="POST" asp-controller="Home" asp-action="AddBluray">
    <div>
        <h6><strong>Titre :</strong></h6>
        <input type="text" asp-for="Titre"/>

        <h6><strong>Réalisateur :</strong></h6>
        <select id="selectReal">
            @foreach (var real in Model?.Realisateurs)
            {
                <option id=@real.Id value=@real.Nom>@real.Nom @real.Prenom</option>
            }
        </select>
        <a style="cursor:pointer;" onclick="handleAddReal()"><span class="plus-small"></span></a>
        <div id="listReal"></div>

        <h6><strong>Scénariste :</strong></h6>
        <select id="selectScenariste">
            @foreach (var scena in Model?.Scenaristes)
            {
                <option id=@scena.Id value=@scena.Nom>@scena.Nom @scena.Prenom</option>
            }
        </select>
        <a style="cursor:pointer;" onclick="handleAddScena()">Ajouter scénariste</a>
        <div id="listScena"></div>

        <h6><strong>Durée :</strong></h6>
        <input type="time" asp-for="Duree"/>

        <h6><strong>Date de sortie :</strong></h6>
        <input id="data" type="date" asp-for="DateSortie"/>

        <h6><strong>Version :</strong></h6>
        <input type="text" asp-for="Version"/>
        <h6><strong>Acteurs :</strong></h6>
        <select id="selectActor">
            @foreach (var acteur in Model?.Acteurs)
            {
                <option id=@acteur.Id value=@acteur.Nom>@acteur.Nom @acteur.Prenom</option>
            }
        </select>
        <a style="cursor:pointer;" onclick="handleAddActor()">Ajouter acteur</a>
        <div id="listActeurs"></div>
        <input type="submit" value="Submit"/>
        <input asp-for="ActeursToAdd" id="acteursHidden" type="hidden"/>
        <input asp-for="RealisateursToAdd" id="realHidden" type="hidden"/>
        <input asp-for="ScenaristesToAdd" id="scenaHidden" type="hidden"/>


    </div>
</form>