@using Microsoft.JSInterop
@using WebApplication.DTOs
@model WebApplication.Models.BorrowBlurayViewModel


@{
    ViewData["Title"] = "Borrow bluray page";
}
<h1>Emprunter un Bluray :</h1>
<hr/>
<form method="POST" asp-controller="Home" asp-action="HandleSelectBorrowPerson">
    <select asp-for="SelectEmprunteur" onchange="this.form.submit()">
        @foreach (var emprunteur in Model?.Emprunteurs)
        {
            <option id=@emprunteur.Nom value=@emprunteur.BaseUrl>@emprunteur.Nom</option>
        }
    </select>
</form>
<form>
    <div class="content">
        @if (Model.Blurays.Count != 0)
        {
@foreach (var br in Model?.Blurays)
{
    <div>
        <div class="card-header">
        </div>
        <div class="text-center card">
            <div class="card-avatar">
            </div>
            <h1 asp-route-titre="@br.Titre" style="position: relative;top: -40px">
                @br.Titre
            </h1>
            <h2 style="color: rgba(0,0,0,0.4);font-size: 12px;position: relative;top:-40px">
                @*@br.Realisateur.Prenom @br.Realisateur.Nom*@
            </h2>
            <div style="display: flex;flex-direction: row;justify-content: space-around;position: relative;top: -25px">
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <p class="subtitle" style="color: rgba(0,0,0,0.4);font-size: 12px;">Date de sortie</p>
                    <p asp-route-dateSortie="@br.DateSortie" class="value" style="color: #33557B;font-size: 24px;top: -15px;position: relative;}">@br.DateSortie.ToShortDateString()</p>
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <p asp-route-emprunteur="@Model.SelectEmprunteur" class="subtitle" style="color: rgba(0,0,0,0.4);font-size: 12px;">Version</p>
                    <p asp-route-version="@br.Version" class="value" style="color: #33557B;font-size: 24px;top: -15px;position: relative;">@br.Version</p>
                </div>
            </div>
                @{
                    var parms = new Dictionary<string, string>
                    {
                        { "id", @br.Id.ToString() },
                        { "Titre", @br.Titre },
                        {"Version", @br.Version },
                        {"DateSortie", @br.DateSortie.ToString() },
                        {"baseUrl", Model.SelectEmprunteur }
                    };
                }
            @if (@br.Disponible)
            {
                <div class="button-emprunt-valid">
                    <a class="text-button" asp-area="" asp-controller="Home" asp-action="BorrowBlurayWithId"  asp-all-route-data="parms">Emprunter</a>
                </div>
            }
            else
            {
                <div class="button-emprunt-unvalid">
                    <p class="text-button">Déjà emprunté</p>
                </div>
            }
        </div>
    </div>

}
        }

    </div>
</form>